@font-face {
    font-family: 'KonkhmerSleokchher';
    src: url('../../textfonts/KonkhmerSleokchher-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../../img/background-principal.png);
    font-family: 'KonkhmerSleokchher', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 150px;
    width: 100%;
    top: 0;
    background-color: #001521;
    box-shadow: 0px 2px 10px #111111;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    padding: 0 20px;
    z-index: 2000;
}

#divtituloheader {
    color: #dddddd;
    display: flex;
    flex-direction: column;
}

#logoSecomp {
    height: 110px;
    width: 150px;
    margin: auto 0 auto 0;
}

#tituloSecomp {
    font-size: 80px;
    margin: 0px;
    font-family: 'KonkhmerSleokchher', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #DDDDDD;
    margin-top: 1vw;
}

#subtituloSecomp {
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 1px #DDDDDD;;
    font-size: 30px;
    line-height: 1;
    margin: 0;
}

#menuToggle {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        background: none;
        border: none;
        color: #F1F1F1;
        cursor: pointer;
        z-index: 1001;
    }

#sidebar {
    position: fixed;
    top: 0;
    right: -200px;
    width: 170px;
    height: 100%;
    background: linear-gradient(to bottom, #001521, #005687);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 60px;
}

#sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar nav ul li {
    margin: 2.5rem;
    text-align: center;
}

#sidebar nav ul li a {
    color: #F1F1F1;
    text-decoration: underline;
    font-size: 20px;
    font-family: Lexend Deca, sans-serif;
    font-weight: 300;
    line-height: 100%;
    font-style: Solid;
}

#sidebar.open {
    right: 0;
}
#containerTabuleirando{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto 0 auto;
}
#tituloTabuleirando{
    color: #fff;
    box-shadow: 0px 2px 10px #111111;
    background: linear-gradient(to right, #2659ff, #1a00aa);
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
    padding: 0 20px 0 20px;
}
#sobreTabuleirando{
    color: #000;
    box-shadow: 0px 2px 10px #111111;
    text-decoration: none;
    background-color: #fff;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 0 20px 0 20px;
}
#containerJogos{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
}
#textoJogos{
    color: #fff;
    box-shadow: 0px 2px 10px #111111;
    background: linear-gradient(to right, #AA8200, #FFC300);
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
    padding: 0 20px 0 20px;
    width: 28%;
    margin-left: auto;
    margin-right: auto;
}
.jogos{
    height: 250px;
    width: 250px;
    border-radius: 50px;
    transition: transform 0.3s ease;
}
.jogos:hover{
    transform: scale(1.1);
}
.imgTituloJogo{
    height: 250px;
    width: 250px;
    background-color: #c4c4c4;
    border-radius: 50px;
}
.sobreJogo{
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: 0;
    width: 250px;
}
#inscricao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #111111;
    position: sticky;
    bottom: 75px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}
#textoInscricao{
    margin-left: 20px;
}
#btnInscricao{
    height: auto;
    width: auto;
    border-radius: 20px;
    border: 0;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(to right, #004973, #006199);
    color: #fff;
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
}
footer{
        width: 100%;
        display: flex;
        background-color: #001521;
        bottom: 0px;
        height: 150px;
        box-shadow: 0px -2px 10px #111111;
    }
    #logoESobre{
        width: 50%;
        display: flex;
        align-items: center;
        margin-left: 2%;
        gap: 5%;
    }
    .logos{
        width: 75px;
        height: 75px;
    }
    
    #linkSitePET{
        text-align: center;
        font-size: 14px;
        color: white;
    }
    #contatos{
        width: 50%;
        
    }
    #contatos p{
        color: #fff;
        text-align: right;
        font-size: 20px;
        margin-right: 9%;
    }
    #redesSociais{
        display: flex;
        justify-content: right;
        gap: 40px;
        margin-right: 3.5%;
    }
    .linkRedeSocial{
        width: 30px;
        height: 30px;
    }
