    @font-face {
        font-family: 'KonkhmerSleokchher';
        src: url('../../textfonts/KonkhmerSleokchher-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    *{
        box-sizing: border-box;
    }

    body {
        margin: 0;
        background-image: url(../../img/background-principal.png);
        font-family: 'KonkhmerSleokchher', sans-serif;
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        height: 170px;
        width: 100%;
        top: 0;
        background-color: #001521;
        box-shadow: 0px 2px 10px #111111;
        display: flex;
        position: sticky;
        top: 0;
        justify-content: center;
        padding: 0 20px;
    }

    #divlogos {
        display: flex;
        position: absolute;
        left: 20px;
        height: 75px;
        gap: 3vw;
        margin-top: 20px;
    }

#logoSecompLateral {
    display: none;
    height: 110px;
    width: 150px;
    margin: 0;
    margin-top: 20px;
    margin-left: auto;
}

#logoSecompCentral {
    height: 110px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

header.scrolled #logoSecompCentral {
    display: none;
}

header.scrolled #logoSecompLateral {
    display: block;
}


    #divtituloheader {
        color: #ffffff;
        display: flex;
        flex-direction: column;
    }

    #tituloSecomp {
        font-size: 100px;
        margin: 0px;
        text-decoration: underline;
        text-align: center;
        font-weight: 400;
        line-height: 1.3;
    }

    /* Transições suaves */
#tituloSecomp,
#subtituloSecomp {
    transition: all 0.3s ease-in-out;
}

/* Agrupamento título + subtítulo */
#tituloContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Quando header estiver com scroll */
header.scrolled #divtituloheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-right: auto;
    margin-left: 32vw;
}

/* Alinha título e subtítulo ao lado da logo */
header.scrolled #tituloContainer {
    align-items: center;
    gap: 0;
    margin:0;
}

/* Redimensiona título */
header.scrolled #tituloSecomp {
    font-size: 75px;
    margin: 0;
    text-decoration: none;
    line-height: 1.5;
}

/* Redimensiona subtítulo */
header.scrolled #subtituloSecomp {
    font-size: 30px;
    -webkit-text-stroke: 1px #fff;
    line-height: 1;
}

    #subtituloSecomp {
        color: transparent;
        text-align: center;
        -webkit-text-stroke: 1px #fff;
        font-size: 40px;
        margin: 0px 0 0 0;
    }

    #menuToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: #F1F1F1;
    cursor: pointer;
    z-index: 1001;
}

/* Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    right: -200px; /* escondida fora da tela */
    width: 170px;
    height: 100%;
    background: linear-gradient(to bottom, #001521, #005687);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 60px;
}

#sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar nav ul li {
    margin: 2.5rem;
    text-align: center;
}

#sidebar nav ul li a {
    color: #F1F1F1;
    text-decoration: underline;
    font-size: 20px;
    font-family: Lexend Deca, sans-serif;
    font-weight: 300;
    line-height: 100%;
    font-style: Solid;
}

#sidebar.open {
    right: 0;
}

    #informacoesDoEvento {
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        margin-top: 300px;
        font-size: 30px;
        gap: 10px;
    }

    .dataLocal {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .imagemDataLocal {
        width: 30px;
        height: 30px;
    }

    .dataLocalTexto {
        margin: 0;
        font-weight: lighter;
    }

    #sobre {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    #textoSobre {
        gap: 20px;
        text-align: justify;
        justify-content: center;
        width: 50%;
        font-size: 20px;
        height: auto;
        padding: 0 30px 0 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 10px #111111;
    }

    #inscricao{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 10px #111111;
        position: sticky;
        bottom: 75px;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 50px;
    }
    #textoInscricao{
        margin-left: 20px;
    }
    #btnInscricao{
        height: auto;
        width: auto;
        border-radius: 20px;
        border: 0;
        padding: 10px 20px 10px 20px;
        background: linear-gradient(to right, #004973, #006199);
        color: #fff;
        margin-right: 20px;
        font-weight: 500;
        cursor: pointer;
    }
    #cronograma{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px; 
        width: 75%;
        margin: 100px auto 0 auto; 
        margin-bottom: 50px;
    }
    #titulos{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .btnCronograma{
        background: linear-gradient(to right, #004973, #0079BE);
        box-shadow: 0px 2px 10px #111111;
        color: #fff;
        padding: 1vw 3vw 1vw 3vw;   
        border-radius: 30px;
        border: 0; 
        cursor: pointer;
        font-weight: 500;
        font-size: medium;
    }
    .btnCronograma.ativo{
        background: none;
        background-color: #000;
    }

    .maisCronograma{
        background-color: #000;
        box-shadow: 0px 2px 10px #111111;
        color: #fff;
        padding: 1vw 3vw 1vw 3vw;  
        border-radius: 30px;
        border: 0; 
        cursor: pointer;
        font-family: Lexend Deca, sans-serif;
        font-size: medium;
        text-decoration: none;
    }

    #textos{
        margin-bottom: 200px;
        justify-content: center;
    }
    .texto{
        display: none;
        text-align: center;
        color: #037DC3;
    }
    footer{
        width: 100%;
        display: flex;
        background-color: #001521;
        bottom: 0px;
        height: 150px;
        box-shadow: 0px -2px 10px #111111;
    }
    #logoESobre{
        width: 50%;
        display: flex;
        align-items: center;
        margin-left: 10%;
    }
    .logos{
        width: 75px;
        height: 75px;
    }
    #textoSobrePET{
        display: flex;
        flex-direction: column;
        color: #fff;
        width:400px;
    }
    #textoFooter{
        text-align: center;
        margin: 0;
        font-size: 14px;
    }
    #linkSitePET{
        text-align: center;
        font-size: 14px;
        color: white;
    }
    #contatos{
        width: 50%;
    }
    #contatos p{
        color: #fff;
        text-align: center;
        font-size: 20px;
    }
    #redesSociais{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .linkRedeSocial{
        width: 30px;
        height: 30px;
    }

