     @font-face {
        font-family: 'KonkhmerSleokchher';
        src: url('../../textfonts/KonkhmerSleokchher-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-image: url(../../img/background-principal.png);
        font-family: 'KonkhmerSleokchher', sans-serif;
        background-repeat: repeat;
        background-size: cover;
    }

    header {
    height: 150px;
    top: 0;
    background-color: #001521;
    box-shadow: 0px 2px 10px #111111;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    padding: 0 20px;
}

#divlogos {
    display: flex;
        position: absolute;
        left: 20px;
        height: 75px;
        gap: 3vw;
        margin-top: 20px;
}
#divtituloheader {
    color: #dddddd;
    display: flex;
    flex-direction: column;
}

#logoSecomp {
    height: 110px;
    width: 150px;
    margin: auto 0 auto 0;
    
}

#tituloSecomp {
    font-size: 80px;
    margin: 0px;
    font-family: 'KonkhmerSleokchher', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #DDDDDD;
    margin-top: 1vw;
}

#subtituloSecomp {
    color: transparent;
    text-align: center;
    font-family: 'KonkhmerSleokchher', sans-serif;
    -webkit-text-stroke: 1px #DDDDDD;;
    font-size: 30px;
    line-height: 1;
    margin: 0;
}

    #menuToggle {
        position: absolute;
        top: 21px;
        right: 26px;
        font-size: 30px;
        background: none;
        border: none;
        color: #F1F1F1;
        cursor: pointer;
        z-index: 1001;
    }

#sidebar {
    position: fixed;
    top: 0;
    right: -200px;
    width: 170px;
    height: 100%;
    background: linear-gradient(to bottom, #001521, #005687);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 60px;
}

#sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar nav ul li {
    margin: 2.5rem;
    text-align: center;
}

#sidebar nav ul li a {
    color: #F1F1F1;
    text-decoration: underline;
    font-size: 20px;
    font-family: Lexend Deca, sans-serif;
    font-weight: 300;
    line-height: 100%;
    font-style: Solid;
}

#sidebar.open {
    right: 0;
}


    .div-Maratona {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 67%;
        margin: auto;
        background-color:#dddddd;
        margin-top: 4vw;
        border-radius: 10px;
        font-family: 'KonkhmerSleokchher', sans-serif;
        box-shadow: 0px 2px 10px #111111;
    }

    .div-TituloMaratona {
        background: linear-gradient(#1434d4, #519CFE);
        border-radius: 30px;
        margin-top: -25px;
        font-family: 'KonkhmerSleokchher', sans-serif;
        font-size: 28px;
        color: #ffffff;
        box-shadow: 0px 2px 10px #111111;
        padding: 0 1.5rem;
    }

    .div-Maratona h4 {
        margin: auto;
        padding: 0.4rem 2rem 1rem 2rem;
        text-align: center;
        font-size: 18px;
    }

    .categorias {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 3vw;
   margin-bottom: 2vw;
}

    .div-Iniciante {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        margin: auto;
        background-color:#dddddd;
        border-radius: 10px;
        font-family: 'KonkhmerSleokchher', sans-serif;
        box-shadow: 0px 2px 10px #111111;
    }

    .div-TituloIniciante {
        background: linear-gradient(to left, #C50407, #5f0310);
        border-radius: 30px;
        margin-top: -20px;
        font-family: 'KonkhmerSleokchher', sans-serif;
        font-size: 28px;
        color: #ffffff;
        box-shadow: 0px 2px 10px #111111;
        padding: 0 1.5rem;
    }

    .div-Iniciante h4 {
        margin: auto;
        padding: 0.4rem 2rem 1rem 2rem;
        text-align: center;
        font-size: 18px;
    }

    .div-Intermediario {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        margin: auto;
        background-color:#dddddd;
        border-radius: 10px;
        font-family: 'KonkhmerSleokchher', sans-serif;
        box-shadow: 0px 2px 10px #111111;
    }

    .div-TituloIntermediario {
        background: linear-gradient(to left, #AA8200, #FFC300);
        border-radius: 30px;
        margin-top: -20px;
        font-family: 'KonkhmerSleokchher', sans-serif;
        font-size: 28px;
        color: #ffffff;
        box-shadow: 0px 2px 10px #111111;
        padding: 0 1.5rem;
    }
    
    .div-Intermediario h4 {
        margin: auto;
        padding: 0.4rem 2rem 1rem 2rem;
        text-align: center;
        font-size: 18px;
    }

    .premios {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        box-shadow: 0px 2px 10px #111111;
    }

    .lista-premios {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        width: 25rem;
    }

    .info-premios {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin: 0;
    }

    .texto-premios {
        font-family: 'KonkhmerSleokchher', sans-serif;
        font-size: 18px;
        color: #dddddd;
        margin: 0 1rem;
        text-align: center;
        font-weight: 500;
    }

    .div-Premios {
        background: linear-gradient(#004973, #006199);
        text-align: center;
        color: white;
        border-radius: 15px;
        font-size: 25px;
        box-shadow: 0px 2px 10px #111111;
        width: 34%;
        margin: auto;
        align-items: center;
        margin-bottom: 2rem;
        padding-left: 1.5rem;
    }

    .div-Premios div {
        margin-right: 1rem;
    }

    footer{
    width: 100%;
    display: flex;
    background-color: #001521;
    bottom: 0px;
    height: 150px;
    box-shadow: 0px -2px 10px #111111;
}
#logoESobre{
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 2%;
    gap: 5%;
}
.logos{
    width: 75px;
    height: 75px;
}

#linkSitePET{
    text-align: center;
    font-size: 14px;
    color: white;
}
#contatos{
    width: 50%;
    margin-top: 1.5%;
}
#contatos p{
    color: #fff;
    text-align: right;
  margin-right: 9%;
    font-size: 20px;
}
#redesSociais{
    display: flex;
    gap: 40px;
    margin-top: 3%;
    justify-content: right; 
    margin-right: 3.5%;
}
.linkRedeSocial{
    width: 30px;
    height: 30px;
}
